 input {
	
   http {
     port => 8080
     type => "healthcheck"
   }
	
   syslog {
     type => syslog
     port => 25826
	
     codec => multiline {
       pattern => "^<%{POSINT}>%{SYSLOGTIMESTAMP} %{SYSLOGHOST}\[%{POSINT}\]: %{TIMESTAMP_ISO8601}"
       negate => true
       what => previous
     }
   }
	
 }
