input {
	udp {
      port => 25826
    }
}

filter
{
 grok{
    match => {"message" => "%{TIMESTAMP_ISO8601:timestamp} - %{WORD:service} - %{LOGLEVEL:log-level} - %{GREEDYDATA:message}"}
 }
    date {
    match => ["timestamp", "ISO8601"]
  }
}

output {
	elasticsearch {
		hosts => "elasticsearch:9200"
	}
}
